default: &default
  host: localhost
  adapter: postgresql
  pool: 5
  timeout: 5000

development:
  <<: *default
  database:
  username:
  password: 1

test:
  <<: *default
  database:
  username:
  password: 1

production:
  <<: *default
  database: rubbot_production